button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.btnA {
    &.arrow-btn {
        .btn-arrow {
            width: 9px;
        }

        &:hover {
            .btn-arrow {
                width: 9px;
                transform: translateX(2px);
            }
        }
    }
}