button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.btnA {
    &.arrow-btn {
        &:hover {
            .btn-arrow {
                transform: translateX(2px);
            }
        }
    }
}