.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.location-cards {
    .location-img {
        height: 438px;
    }
}

.hover-cards {
    height: 300px;

    .hover-bg {
        width: 66%;
        transition: width 0.5s ease-in-out;
        z-index: 1;
        padding: 35px;

        .arrow-icon {
            height: 25px;
        }
    }

    .hover-card-text {
        position: relative;
        z-index: 2;
        padding: 2rem;
    }

    &:hover {
        .hover-bg {
            width: 100%;
        }
    }
}

.product-cards {
    .product-img {
        height: 435px;
    }
}

.offer-cards {
    .offer-img {
        height: 110px;
    }
}


.news-card {
    .news-card-img {
        height: 340px;
    }

    &:first-child {
        width: 50%;
        height: 525px;

        a {
            height: 100% !important;
            display: block;
            position: relative;

            .news-card-img {
                height: 100%;
                margin-bottom: 0px !important;
            }

            .news-content {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 3;
                padding: 0px 40px 45px 35px;

                .news-data {
                    padding-right: 0px !important;

                    .news-tag,
                    .news-date,
                    .news-title {
                        color: $white !important;
                    }

                    .news-title {
                        width: 70%;
                        padding-right: 50px;
                    }

                    .news-date {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}