.product-slider {
    .slick-list {
        margin-left: -5px;
        margin-right: -5px;
        overflow: visible !important;

        .slick-slide {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
.news-slider{
    .slick-list {
        margin-left: -4px;
        margin-right: -4px;
    
        .slick-slide {
            padding-left: 4px;
            padding-right: 4px;
        }
    }

}
.announcement-slider {
    .slick-list {
        margin-left: -35px;
        margin-right: -35px;
        overflow: visible !important;

        .slick-slide {
            padding-left: 35px;
            padding-right: 35px;
            text-align: end;
        }
    }
}