.announcement-slider-section {
    .announcement-label {
        .left-right-arrow {
            width: 25px;
            height: 25px;
            margin-left: 19px;
        }
    }
}

.footer {
    .footer-logo {
        height: 133px;

        @include media-breakpoint-down(lg) {
            height: 97px;
        }
    }

    .footer-input {
        input {
            padding-right: 35px;

            &::placeholder {
                color: rgba($color: $color-1F3B26, $alpha: 0.4);
            }
        }

        .footer-submit {
            height: 16px;
            top: 3px;
        }
    }
}