.tab-section {
    height: 715px;

    .tab-menu {
        .arrow-btn {
            width: 18px;

            img {
                filter: invert(1);
            }
        }
    }
}

.left-right-content-img-section {
    .left-right-content-img {
        height: 620px;

    }
}

.offer-section {
    .offer-img {
        width: 80px;
    }
}
