.tab-section {
    height: 715px;

    .tab-menu {
        .arrow-btn {
            width: 18px;

            img {
                filter: invert(1);
            }
        }
    }
}

.offer-section {
    .offer-img {
        width: 80px;
    }
}

section{
  height:100vh;
  &.bg-gray{
    background: #111;
  }
}

.our-work{
  display: flex;
  align-items: center;
  background-color: #14192d;
  background-position: center;
  background-size: cover;
  position:relative;
  overflow:hidden;
  &:before{
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    background: #e93f8e;
    border-radius: 760px;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    opacity: 0.4;
    filter: blur(270px);
    content: '';
    pointer-events: none;
    will-change: transform;
  }
  h1{
    background-image: linear-gradient(269deg, #bc2789 1.26%, #f85956 98.74%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display:inline-flex;
    font-size: 3.3rem;
    line-height: 1.1;
  }
}

.slider{
  display: flex;
  gap: 55px;
  align-items: center;
  position:relative;
  @media (max-width: 640px){
    padding-top:1rem;
    flex-direction: column;
    gap:16px;
  }
}

.carousel__slider{
  position:relative;
  width:100%;
  min-height: 440px;
}
.carousel__item{
    width:100%;
    min-height: 440px;
    padding: 48px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    position:absolute;
    top:0%;
    opacity:0;
}


.carousel__nav{
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
  @media (max-width: 640px){
    flex-direction: row;
  }
  &__item{
    background:#424b58;
    box-shadow: none;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    
    &--active{
      background: red;
    }
  }
}