.left-right-list-section {
    .plus-icon {
        width: 15px;
        height: 14px;
        margin-right: 13px;
    }
}

.left-right-content-img-section {
    .left-right-content-img {
        height: 620px;
    }
}